<% if @task.errors.present? %>
  <ul>
    <% @task.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<div class="form container">
  <%= form_for @task do |f| %>

    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :due_date, "Due_date" %>
      <%= f.text_field :due_date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :note, "Note" %>
      <%= f.text_area :note, class: "form-control" %>
    </div>
    
      <%= f.submit %>

    <% end %>